
#p2{
    background-color: rgb(230, 20, 118);
    color: white;
}
#sppp{
    width: 40%;
}
.main{
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 12%;
    padding-right: 12%;
}
#half{
    display: flex;
  
}
#ha{
    width: 150%;
}
#haf{
    background-color: rgb(238, 241, 208);
}
